extends layout

block content
    div.text-center
        form(class="form-signin" method="POST" action="/api/Pogonin/lab1/ex2")
            #error
                if error
                    p.text-danger Error!!!

            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes) Combine from array

            //-input email
            label( for="inputEmail" class="sr-only") Array
            input(type="arr" name="arr" id="inputEmail" class="form-control" placeholder="Array" required autofocus)

            //-signIn button
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Run

